# dependencies
/node_modules
.pnpm-debug.log*

# astro
/dist
/.astro

# vercel
.vercel

# misc
.DS_Store
*.pem
*.tsbuildinfo

# env files
.env*

# Playwright MCP output
.playwright-mcp/

# leftover Next.js cache
/.next
